@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.45;
}

.container1 {
    background-color: #f8f8f8;
    margin: 0 auto;
}

.address {
    display: flex;
    background-color: #0ab8b7;
    padding: 5px 20px;
    color: #033030;
    justify-content: space-between;
}

.images {
    display: flex;
}

.images p {
    padding: 2px;
}

.images img {
    height: 30px;
}

.address ul {
    display: inline-block;
    list-style-type: none;
}

.address ul li {
    display: inline-block;
    margin-right: 20px;
}

.address ul li img {
    height: 30px;
}

.navbar {
    align-items: center;
    background-color: #f6f8f8;
    padding: 0 20px;
    font-display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #007bff;
}

.categries {
    margin: 70px 0px;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


/*................dashboard.....................*/

.dashboard {
    background-color: #ebf0f4;
    padding: 10px;
    display: inline-block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
}

.col-4 {
    flex-basis: 23%;
    margin-bottom: 30px;
    min-width: 200px;
}

.folder {
    width: 100%;
    background-color: #09b7b6;
}

.dashboard h1 {
    font-weight: 100;
}

.folder a {
    display: inline-block;
    text-align: center;
    background-color: #06944e;
    padding: 2px 10px;
    width: 100%;
    cursor: pointer;
}

a span {
    margin: 2px;
}

.parts {
    padding: 5px;
}

.parts h1 {
    font-weight: bold;
}

.parts h3 {
    font-weight: 200;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 900;
}

.main {
    display: flex;
}

.main img {
    width: 30%;
}


/*.....................Patient....................*/

header {
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 0;
}

header h1 {
    text-align: center;
}

#patient_details {
    border-style: outset;
}


/*...................addPatient............*/

.header {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #e9ecef;
    margin-top: 10px;
    padding: 5px 0;
}

.header img {
    height: 60px;
}

.container {
    padding: 10px 20px;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}